.back-button-icon {
    padding-left: 5px;
    padding-right: 20%;
    zoom: 2;
}

.cart_button {
    position: fixed;
    height: 40px;
    font-size: 30px;
    left: 10px;
    bottom: 0px;
    right: 10px;
}