.spacing {
    margin-top: 50px;
}

.confirmButton {
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;
}

.costLabel {
    position: fixed;
    left: 0;
    bottom: 50px;
    right: 0;
}