<ion-header>  
 <br>
 <app-nav-menu></app-nav-menu>
</ion-header>


<ion-content>
  <div class="page_contents">
    <ion-card *ngFor="let product of products, index as i">
      <ion-img [src]="image"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>{{product.organization}}</ion-card-subtitle>
        <ion-card-title>{{product.item_name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        price: ${{product.item_price}}/pcs || {{product.item_quantity}} pcs
        <ion-icon class="ellipsis" (click)="showMenu(i)" name="ellipsis-vertical"></ion-icon>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
