<ion-header >
  <ion-title>Home</ion-title>>
</ion-header>

<ion-content>
  <div class="icon"><ion-icon name="home-outline" ></ion-icon></div><br>
  <div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
    <label for="navi-toggle" class="navigation__button">
      <span class="navigation__icon">&nbsp;</span>
    </label>
    <div class="navigation__background">&nbsp;</div>
    <ion-nav class="navigation__nav">
      <ul class="navigation__list">
        <li class="navigation__item"><a href="home" class="navigation__link"><span>01.</span> Home</a></li>
        <li class="navigation__item"><a href="profile" class="navigation__link"><span>02.</span> Profile</a></li>
        <li class="navigation__item"><a href="cart" class="navigation__link"><span>03.</span> Cart</a></li>
        <li class="navigation__item"><a href="login" (click)="logout()" class="navigation__link"><span>04.</span> Logout</a></li>
      </ul>
    </ion-nav>
  </div>
 
  <ion-item-sliding *ngFor="let product of products; index as i">
    <ion-item>
      {{product.name}}
    </ion-item>
    <ion-item-options side="end" *ngIf="status">
      <ion-item-option ion-button (click)="editProd(i)">Edit</ion-item-option>
      <ion-item-option ion-button color="danger" (click)="deleteProd(i)">Delete</ion-item-option>
    </ion-item-options>
    <ion-item-options side="end" *ngIf="!status">
      <ion-item-option ion-button (click)="orderProd(i)">Order</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-content>
