<ion-header>
  
  <ion-title>cart</ion-title>
  <app-nav-menu></app-nav-menu>
    
</ion-header>

<ion-content>
  
  <!-- <ion-fab horizontal="end" vertical="top" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="caret-back"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="logout()" color="light">
        <ion-icon name="log-out"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="goToCart()" color="light">
        <ion-icon name="cart"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="goToProfile()" color="light">
        <ion-icon name="person"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="goToHome()" color="light">
        <ion-icon name="home"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>  -->

  <div class="spacing">

    <ion-item-sliding *ngFor="let item of cart, index as i">
      <ion-item>
        {{item.item_name}}
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option ion-button (click)="edititem(i)"><ion-icon name="create"></ion-icon></ion-item-option>
        <ion-item-option ion-button color="danger" (click)="deleteitem(i)"><ion-icon name="trash-bin"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </div>

   <ion-item class="costLabel"> 
    Total cost:
    <p slot="end">$ {{total_amount}}</p>
   </ion-item> 
  <ion-button class="confirmButton" (click)="confirmOrder()" >Confirm Order</ion-button>
    
</ion-content>
