<ion-header>
  <ion-title>Profile</ion-title>
  <app-nav-menu></app-nav-menu>
</ion-header>

<ion-content class="profile">

  
  <div class="profile__spacing">

    <ion-grid *ngFor="let c of character, index as i">
      <ion-row>
        <ion-col >
          <ion-avatar class="profile__pic">
            <ion-img [src]="c.image"></ion-img>
          </ion-avatar>
          <h5>{{c.Cname}}</h5>
        </ion-col>

        <ion-col>
          <h6>Type: {{c.Ctype}}</h6>
          <h6>Email: {{c.Cemail}}</h6>
          
          <ion-button fill="clear" (click)="edit_profile(i)">Edit Profile</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    
    <ion-button class="profile__status-button" (click)="order_status()">Order Status & Details</ion-button>


    
  </div>
    
  <canvas id="myChart" width="200" height="200"></canvas>
    
  </ion-content>
  