.profile_pic {
  height: 100px;
  width: 100px;
  background-color: goldenrod;
  border-radius: 50%;
  display: inline-block;
}

.spacing {
    margin-top: 30px;
}

.status_button {
  
  display: flex; 
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;

}

