.profile {

  &__spacing {
    margin-top: 30px;
  }

  &__pic {
    height: 100px;
    width: 100px;
    background-color: goldenrod;
    border-radius: 50%;
    display: inline-block;
  }


  &__status-button {

    display: flex; 
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
  }
}

