<ion-header>

  <ion-title>Profile</ion-title>

  <ion-content>
      <ion-fab horizontal="end" vertical="top" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="caret-back"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="logout()" color="light">
        <ion-icon name="log-out"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="goToCart()" color="light">
        <ion-icon name="cart"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="goToProfile()" color="light">
        <ion-icon name="person"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="goToHome()" color="light">
        <ion-icon name="home"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab> 
    
  </ion-content>
  
</ion-header>

<ion-content class="profile">

  
  <div class="profile__spacing">

    <ion-grid *ngFor="let c of character, index as i">
      <ion-row>
        <ion-col >
          <ion-avatar class="profile__pic">
            <ion-img [src]="c.image"></ion-img>
          </ion-avatar>
          <h5>{{c.Cname}}</h5>
        </ion-col>

        <ion-col>
          <h6>Type: {{c.Ctype}}</h6>
          <h6>Email: {{c.Cemail}}</h6>
          
          <ion-button fill="clear" (click)="edit_profile(i)">Edit Profile</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    
    <ion-button class="profile__status-button" (click)="order_status()">Order Status & Details</ion-button>


    
  </div>
    
  <canvas id="myChart" width="200" height="200"></canvas>
    
  </ion-content>
  